#healthCareImage {
  width: 100%;
  max-height: fit-content;
}

#jumbotronImageHealthCare {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#firstPHC {
    margin-top: 5rem;
    margin-bottom: 8rem;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  #HCpointsOfInterest {
    margin-left: 26%;
    justify-content: center;
    list-style-type: disc;
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* overflow: auto; */
  }
  
  #healthCareTabs {
    background-color: #7a7a7a;
    margin-bottom: 10%;
  }
  
  .smallIconsHealthCare {
    color: #001f58;
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    height: 80px;
    width: 80px;
    margin-bottom: 20%;
  }
  
  .headerSmallIconsHealthCare {
    color: #b51900;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
  }
  
  #splitheaderHealthCare {
      color: #001f58;
  }
  
  #healthCareHeaderWithBullets {
      margin-bottom: 10%;
  }
  
  h4 {
      margin: 0% 5% 0% 5%;
      color: #000;
  }
  