#boss {
  justify-content: center;
  float: center;
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
}

#jumbotronImageJoin {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#joinUs {
  width: 100%;
  max-height: fit-content;
}