#navbar {
    /* padding: -10%; */
    background-color: white !important;
    border-bottom: #7a7a7a !important;
}

#nav {
    margin-top: 15px;
    margin-right: 50px !important;
    align-content: flex-end;
    font-weight: bold;
}

#navBrand {
    margin: auto;
}

#logo {
    margin-left: 50px;
    width: 300px;
    align-content: flex-start;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
}
